
.idea/.idea.SharpToolbox/.idea/.name
.idea/.idea.SharpToolbox/.idea/encodings.xml
.idea/.idea.SharpToolbox/.idea/indexLayout.xml
.idea/.idea.SharpToolbox/.idea/vcs.xml
SharpToolbox.Windows/bin/Release/net5.0/ref/SharpToolbox.Windows.dll
SharpToolbox.Windows/bin/Release/net5.0/SharpToolbox.dll
SharpToolbox.Windows/bin/Release/net5.0/SharpToolbox.pdb
SharpToolbox.Windows/bin/Release/net5.0/SharpToolbox.Windows.deps.json
SharpToolbox.Windows/bin/Release/net5.0/SharpToolbox.Windows.dll
SharpToolbox.Windows/bin/Release/net5.0/SharpToolbox.Windows.pdb
SharpToolbox.Windows/obj/project.assets.json
SharpToolbox.Windows/obj/project.nuget.cache
SharpToolbox.Windows/obj/project.packagespec.json
SharpToolbox.Windows/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SharpToolbox.Windows/obj/Release/net5.0/ref/SharpToolbox.Windows.dll
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.AssemblyInfo.cs
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.AssemblyInfoInputs.cache
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.assets.cache
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.csproj.CopyComplete
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.csproj.CoreCompileInputs.cache
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.csproj.FileListAbsolute.txt
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.csprojAssemblyReference.cache
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.dll
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.GeneratedMSBuildEditorConfig.editorconfig
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.pdb
SharpToolbox.Windows/obj/rider.project.restore.info
SharpToolbox.Windows/obj/SharpToolbox.Windows.csproj.nuget.dgspec.json
SharpToolbox.Windows/obj/SharpToolbox.Windows.csproj.nuget.g.props
SharpToolbox.Windows/obj/SharpToolbox.Windows.csproj.nuget.g.targets
SharpToolbox/bin/Release/net5.0/ref/SharpToolbox.dll
SharpToolbox/bin/Release/net5.0/SharpToolbox.deps.json
SharpToolbox/bin/Release/net5.0/SharpToolbox.dll
SharpToolbox/bin/Release/net5.0/SharpToolbox.pdb
SharpToolbox/obj/project.assets.json
SharpToolbox/obj/project.nuget.cache
SharpToolbox/obj/project.packagespec.json
SharpToolbox/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SharpToolbox/obj/Release/net5.0/ref/SharpToolbox.dll
SharpToolbox/obj/Release/net5.0/SharpToolbox.AssemblyInfo.cs
SharpToolbox/obj/Release/net5.0/SharpToolbox.AssemblyInfoInputs.cache
SharpToolbox/obj/Release/net5.0/SharpToolbox.assets.cache
SharpToolbox/obj/Release/net5.0/SharpToolbox.csproj.CoreCompileInputs.cache
SharpToolbox/obj/Release/net5.0/SharpToolbox.csproj.FileListAbsolute.txt
SharpToolbox/obj/Release/net5.0/SharpToolbox.csprojAssemblyReference.cache
SharpToolbox/obj/Release/net5.0/SharpToolbox.dll
SharpToolbox/obj/Release/net5.0/SharpToolbox.GeneratedMSBuildEditorConfig.editorconfig
SharpToolbox/obj/Release/net5.0/SharpToolbox.pdb
SharpToolbox/obj/rider.project.restore.info
SharpToolbox/obj/SharpToolbox.csproj.nuget.dgspec.json
SharpToolbox/obj/SharpToolbox.csproj.nuget.g.props
SharpToolbox/obj/SharpToolbox.csproj.nuget.g.targets
SharpToolbox.Windows/obj/project.assets.json
SharpToolbox.Windows/obj/project.nuget.cache
SharpToolbox.Windows/obj/project.packagespec.json
SharpToolbox.Windows/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.AssemblyInfo.cs
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.AssemblyInfoInputs.cache
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.assets.cache
SharpToolbox.Windows/obj/Release/net5.0/SharpToolbox.Windows.GeneratedMSBuildEditorConfig.editorconfig
SharpToolbox.Windows/obj/rider.project.restore.info
SharpToolbox.Windows/obj/SharpToolbox.Windows.csproj.nuget.dgspec.json
SharpToolbox.Windows/obj/SharpToolbox.Windows.csproj.nuget.g.props
SharpToolbox.Windows/obj/SharpToolbox.Windows.csproj.nuget.g.targets
SharpToolbox.Windows/obj/project.assets.json
